# vim: syntax=bash

# Macro for archiving emails.
macro index,pager A "<save-message>=Archive<enter>" "Archive Message"

#####################
# Vim like bindings #
#####################

# binding q for exiting all menus
bind index,generic,compose,attach,pager x exit

# binding ZZ like in vim to quit, only in index
bind index Z noop
bind index ZZ quit

# just like vi and less
bind index,pager g noop
bind index gg first-entry
bind index G last-entry
bind index <f5> imap-fetch-mail

# Replies:
bind index,pager r reply
bind index,pager R group-reply

# Going to specific folders.
macro index,pager gi "<change-folder>=INBOX<enter>"   "Open Inbox"
macro index,pager gc "<change-folder>?"               "Open mailbox search"

# Bind d to noop to avoid aliasing 'd' with 'dd'
bind index,pager  d  noop
macro index,pager dd "<delete-message><sync-mailbox>" "Move message to trash"
